// Place all the styles related to the bookers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label[for] {
  display:block;
}

textarea {
  display:block;
}

.notice {
  color: green;
}

.error {
  color: red;
}
